.Content
    width: 100%
    .content-wrapper
        display: flex
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        form:hover
            background-color #514346cc
            transition: .3s
            .one
                border 2px dashed #EFE7E4
                color #EFE7E4
                transition: .3s
                .name
                    color #EFE7E4
                    transition: .3s
                .detail-wrapper
                    .fabric
                        color #EFE7E4
                        transition: .3s
                        font-size: 20px
                        span 
                            color #EFE7E4
                            font-size: 20px
                            transition: .3s
                        select
                            background-color #514346
                            color #EFE7E4
                            outline: none
                            font-size: 20px
                            transition: .3s
                            option
                                background-color #514346
                                color #EFE7E4
                                font-size: 20px
                    button
                        border-color: #EFE7E4
                        background-color #EFE7E4
                        transition: .3s
                        span 
                            color: #514346
                            transition: .3s
        form
            padding: 10px
            background-color #EFE7E4cc
            max-width: 320px
            transition: .3s
            margin: 10px
            .one
                border 2px dashed #514346
                color #514346
                padding: 10px
                display: flex
                flex-direction: column
                justify-content: space-between
                align-items: center
                height 410px
                transition: .3s
                .img 
                    width: 100%
                    img 
                        margin: 0 auto
                        width: 280px
                        max-height: 280px
                .name
                    color #514346
                    text-transform uppercase
                    text-align center
                    font-weight: bold
                    transition: .3s
                .detail-wrapper
                    display flex
                    justify-content: space-between
                    align-items: center
                    font-size: 20px
                    width: 100%
                    .fabric
                        color #514346
                        font-size: 20px
                        transition: .3s
                        span 
                            color #514346
                            transition: .3s
                            font-size: 20px
                        select
                            color #514346
                            outline: none
                            transition: .3s
                            font-size: 20px
                            option
                                color #514346
                                font-size: 20px
                    button 
                        border: outset
                        border-color: #EFE7E4
                        border-color: #514346
                        background-color #514346
                        outline: none 
                        width: 90px
                        height 40px
                        cursor pointer
                        padding: 6px 3px
                        transition: .3s
                        span 
                            width: 100%
                            margin: 0 auto
                            color #514346
                            font-size: 18px
                            padding: 3px 20px
                            border 1px dashed #EFE7E4
                            color: #EFE7E4
                            transition: .3s
                    button:hover
                        padding: 5px 3px 
                        span 
                            font-size: 19px
