.Tour
    background-image url("./style/My-Chemical-Romance-my-chemical-romance-38539770-1920-1080.jpg")
    background-repeat no-repeat
    background-position 49% 0%
    background-size cover
    height: 100vh
    .bg-wrapper
        height 100%
        background-color #00000099
        .tour-wrapper
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            height 100%
            margin: 0 auto
            width: 80%
            text-align: center
            .coming
                font-size: 16px
                padding: 5px 0
                text-transform uppercase
                color #cac5c3
                letter-spacing: 20px
                @media screen and (max-width: 400px)
                    font-size: 12px
                    letter-spacing: 10px
            .when
                font-size: 20px
                padding: 0 0 5px
                text-transform uppercase
                color #cac5c3
                @media screen and (max-width: 400px)
                    font-size: 14px
            .name
                text-align: center
                padding-top: 20px
                font-size: 50px
                @media screen and (max-width: 400px)
                    font-size: 40px
            .list
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                text-align: center
                align-items: center
                color #cac5c3
                // max-height 100px
                width: 100%
                @media screen and (max-width: 400px)
                    font-size: 14px
                .was
                    color: #A29895
                    border: none
                .was:hover
                    color: #A29895
                    border: none
                li
                    padding: 7px
                    border-bottom: 1px solid transparent
                    cursor pointer
                    transition: .3s
                li:hover
                    color #fff
                    border-bottom: 1px solid #fff
                    transition: .3s
                