.modalPic
    position: absolute
    top 0
    background-color #000000cc
    height 100vh
    width: 100vw
    position fixed
    left 0
    z-index: 1
    display flex
    justify-content: space-around
    align-items: center
    .pic
        box-shadow: 0 0 10px #fff
        img 
            padding: 0
            margin: 0
            max-width: 90vw
            max-height 85vh
        .close
            margin-top: -40px
            cursor pointer
            color: #D66347
            font-size: 30px
            text-align: end
            transition: .3s
        .close:hover
            color: #A72707
            transition: .3s
       

