.Header
    background-color #000000
    border-bottom 2px solid #AA1F1F
    .header-wrapper
        width: 85%
        margin: 0 auto
        display flex
        justify-content: space-between
        align-items: center
        .logo
            padding 7px
            img 
                max-width 77px
                min-width 50px
        nav 
            width: 35% 
            ul
                display: flex
                justify-content space-between
                align-items: center
                .item
                    list-style none
                    color #ffffff
                    font-family "Roboto"
                    font-size: 18px
                    cursor pointer
                .line
                    width 1px
                    background-color: #AA1F1F
                    height 60px



