.Footer
    background-color #000000
    height: 80px
    .footer-wrapper
        width 90%
        display: flex
        margin: 0 auto
        flex-direction: column
        justify-content: space-around
        height 100%
        padding: 10px
        align-items: center
        ul
            display: flex
            margin: 0 auto
            justify-content: space-between
            align-items: center
            // width: 50%
            li 
                a:hover
                    border: none 
                    color #A29895
        .created
            color #A29895
            