.AuthForm
    position relative
    background-color #EFE7E4
    .auth-wrapper
        position absolute
        // border: 1px #A29895
        box-shadow: 0 0 10px #000
        top 50%
        left 50%
        transform: translate(-50%, 50%)
        width: 600px
        background-color  #514346
        .form-controll
            width 90%
            margin: 0 auto
            padding: 10px 0
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            .icon
                img
                    width: 50px
                    height 50px
            .title
                font-size: 20px
                padding: 0
                text-align: center
                color #EFE7E4
            .input-wrapper
                border 1px solid #EFE7E4
                width: 100%
                margin: 10px
                input 
                    border none 
                    outline: none 
                    background-color #514346
                    padding: 10px
                    width: 100%
            button
                border: 1px solid #EFE7E4
                outline: none
                background-color #EFE7E4
                color #514346
                padding: 5px 10px
                width: 100px
                cursor pointer
                transition: .3s
            button:hover
                background-color #514346
                color #EFE7E4
                transition: .3s
