@import './components/header/headet.styl'
@import './containers/news/News.styl'
*{
    margin: 0
    padding: 0
    box-sizing: border-box
}

.container
    // background-image url("style/ddds.jpg")
    // background-repeat: no-repeat
    // background-size contain
    width 90%
    margin: 0 auto
a
    text-decoration none
    color: #ffffff
a:hover
    color #AA1F1F
    transition: .3s